.uh-navigation {
  display: grid;
  position: relative;
  background-size: cover;
  background-image: url("../images/header.jpg");
  justify-content: center;
  text-align: center;
  padding: 10em 0em;
}

.uh-navBrand {
  margin: 0px;
  margin-bottom: 3em;
}

.uh-nav {
  display: inline-block;
  padding: 0em 3em;
  border-radius: 40px;
  background: #131313;

  li {
    display: inline-block;

    a {
      padding: 1.3em 1.5em;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 200;
    }
  }
}

