.footer-copyright-text {
  font-size: 14px;
  line-height: 1.3;

  span {
    font-weight: 700;

    color: $black--two;
  }
}
.footer-social-icons {
  ul {
    li {
      display: inline-block;

      margin-right: 20px;
      a {
        color: $black--two;

        i,
        svg {
          font-size: 15px;
        }

        &:hover {
          color: $black--two;
        }
      }
    }
  }
}

.scroll-top {
  font-size: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 999;

  visibility: hidden;
  position: fixed;

  width: 50px;
  height: 50px;

  opacity: 0;
  color: $white;
  border: none;
  border-radius: 50%;
  background: $black--two;


  &:hover {
    background-color: $grey--thirty;
  }

  &.show {
    visibility: visible;

    opacity: 1;
  }
}
