
header {
  position: relative;
  &.topbar-shadow {
    &:before {
      position: absolute;
      top: -3px;
      left: 0;

      width: 100%;
      height: 3px;

      content: "";

      box-shadow: 0 2px 5px rgba($black, 0.2);
    }
  }
}

.header-content {

  &__logo {

  }

  &__icons {
    ul {
      li {
        display: inline-block;
        margin-right: 30px;

        button {
          padding: 0;
          border: none;
          background: none;
          position: relative;

          svg {
            font-size: 20px;

            fill: $black--two;
          }
        }
      }
    }
  }

  &__navigation {
    & > ul {
      & > li {
        display: inline-block;

        margin-right: 50px;

        text-align: left;
      }

      & > a {
        font-weight: 500;
        line-height: 80px;

        position: relative;

        margin-right: 5px;

        color: $grey;
      }

      & > svg {
        font-size: 12px;

        transition: $transition--default;

        fill: $grey--eight;
      }

      &:last-child {
        margin-right: 0;
      }
      &:hover {

        & > svg {
          fill: $black--two;
        }

        .sub-menu {
          visibility: visible;

          margin-top: 0;

          opacity: 1;
        }
      }
    }
  }
}

.sub-menu {
  position: absolute;
  z-index: 9999;

  visibility: hidden;

  margin-top: 45px;

  transition: 0.6s;

  opacity: 0;

  &--mega {
    display: flex;
    overflow: hidden;
    padding: 10px 40px;

    & > li {
      border-right: 1px solid $grey--three;
      &:last-child {
        border-right: 0;
      }
    }
    &__title {
      & > a {
        font-size: 25px;
        font-weight: 500;
        line-height: 1.2;

        margin-bottom: 20px;

        color: $black--two;
      }
    }

    &__list {
      li {
        position: relative;

        transition: $transition--default;

        a {
          font-size: 15px;
          line-height: 1.4;

          position: relative;

          margin-bottom: 15px;

          color: $grey;

          &:hover {
            color: $black--two;
            &:after {
              visibility: visible;

              opacity: 1;
            }
          }
        }

        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
      }
    }

    &--column-4 {
      left: 50%;

      width: 1100px;
      max-width: 100%;

      transform: translateX(-50%);
      & > li {
        flex: 0 0 25%;

        padding: 0 30px;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.search-overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  transition: 0.6s;
  transform: translate3d(100%, 0, 0);

  &.active {
    transform: translate3d(0, 0, 0);
  }

  &__close-icon {
    font-size: 60px;

    position: absolute;
    top: 30px;
    right: 30px;

    padding: 0;

    transition: 0.6s;

    border: none;
    background: none;


    &:hover {
      transform: rotate(90deg);
    }
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    form {
      input {
        font-size: 67px;

        border: none;
        border-bottom: 2px solid $black--two;
        background: none;

      }
      ::placeholder {
        opacity: 1;

        color: $grey--nine;
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  transition: 0.6s;
  transform: translate3d(100%, 0, 0);

  background-color: #D0BEE6;

  &.active {
    transform: translate3d(0, 0, 0);
  }

  &__close-icon {
    font-size: 60px;

    position: absolute;
    top: 30px;
    right: 30px;

    padding: 0;

    transition: 0.6s;

    border: none;
    background: none;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 70%;

    transform: translate(-50%, -50%);
  }
}
